.menu-container{
    display: flex;
    margin: 100px 40px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 40px;
    justify-content: space-between;
    background-color:#ffc61b ;
    border-radius: 10px;
}


.carousel{
    overflow: hidden;
    position: relative;
}

.carousel-inner{
    display: flex;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.menu-title{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 100px;
    transform: rotate(-15deg);
    color: black;
}


.menu-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    height: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    background-color: #ddd;
}

.card-image {
    width: 100%;
    max-height: 50%;
    object-fit: cover;
    /* border-radius: 50%; */
}

.name {
    font-size: 18px;
    margin: 10px 0;
}

.description {
    font-size: 14px;
    margin: 10px 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}

.button-group{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.button-group button{
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    color: black;
    cursor: pointer;
}
